<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }
  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
</style>
<div class="view">
    <div class="container">
        <div class="row">
        <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" >
        <a class= "navbar-brand" href= "#/products"><i class="glyphicon glyphicon-th-large"></i> Products List </a>
        <a ng-show="product._id" class= "navbar-brand" href= "#/edit-product/0"><i class="glyphicon glyphicon-plus"></i> Create Product </a>
        <a ng-show="product._id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing Product Number: {{product._id}}</a>
        </div>
        </nav>
        <header>
            <h3>{{title}}</h3>
        </header>
        <div class="col-md-12">
 
<form role="form" name="myForm" class="form-horizontal">
<div class="row">
<div class= "form-group" ng-class="{error: myForm.name.$invalid}">
    <label class= "col-md-2"> Name </label>
    <div class="col-md-4">
    <input name="name" ng-model="product.productName" type= "text" class= "form-control" placeholder="Your name" required/>
    <span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Name Required</span>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2"> Title </label>
    <div class="col-md-4">
    <input name="title" ng-model="product.title" type= "text" class= "form-control" placeholder="Enter title" required/>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Description </label>
    <div class="col-md-4">
    <input ng-model="product.description" type= "text" class= "form-control" placeholder= "Product Description"/>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Price </label>
    <div class="col-md-4">
    <input ng-model="product.price" type= "text" class= "form-control" placeholder= "0.00"/>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2"></label>
    <div class="col-md-4">
    <a href="#/" class="btn">Cancel</a>
        <button ng-click="saveproduct(product);" 
                ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-primary">{{buttonText}}</button>
        <button ng-click="deleteproduct(product)"
                ng-show="product._id" class="btn btn-warning">Delete</button>
    </div>
</div>
</div>
</form>
        </div></div>
    </div>
</div>