<div class="row">
	<ul>
		<li>Facet one</li>
		<li>Facet one</li>
		<li>Facet one</li>
		<li>Facet one</li>
		<li>Facet one</li>
		<li>Facet one</li>
		<li>Facet one</li>
	</ul>
</div>
<div class="row">
	{{> sidenav}}
</div>