    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Southeastern Pennsylvania Intergroup Association of AA (SEPIA) 2016</p>
                </div>
            </div>
        </footer>

    </div>