<div class="jumbotron">
    <div class="container-fluid">
        <h1>MEANMart - Online Shopping, Data and Analytics -</h1>
        <p>This site was created to showcase MongoDB's capabilities in the Faceted Search, Graph Lookup and BI/Analytics spaces.  These capabilities are demonstrated through the lense of a ficticious online ecommerce company "MEANMart".  To view the online shop, click <a href="/shop" target="_blank">here</a>.
        </p><p>
        This vendor faces the same challenges most retail companies face today, striving to ensure that their products are not only available online but searchable and displayed in a manner that lets customers easily find products by many facets. </p>
        <p><a href="http://meanmart.mlynn.org" target="_blank" class="btn btn-success btn-lg">Get started</a></p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h2>Faceted Search</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic expedita molestiae laudantium iste, excepturi, reiciendis fuga voluptatum consequuntur, et nam officiis ad saepe. Eius tempore sint eos aliquam doloremque illum.</p>
            <p><a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
        <div class="col-xs-4">
            <h2>Graph Lookup</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita sunt quis at similique, ipsa reprehenderit rem accusamus amet. Exercitationem ipsa laboriosam aliquam aperiam numquam doloremque voluptate quam repudiandae optio unde.</p>
            <p><a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
        <div class="col-xs-4">
            <h2>Analytics</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit facilis unde ducimus commodi laboriosam neque doloremque itaque! Officiis nostrum in, id sed laboriosam harum non. Saepe odit quidem ducimus at?</p>
            <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <h2>User Records</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic expedita molestiae laudantium iste, excepturi, reiciendis fuga voluptatum consequuntur, et nam officiis ad saepe. Eius tempore sint eos aliquam doloremque illum.</p>
            <p><button class="btn btn-warning btn-lg" data-title="View" data-toggle="modal" data-target="#users-modal">View User Document <span class="glyphicon glyphicon-search"></span>
</button>
</p>
<!-- Add Dialog -->
<div class="modal fade" id="users-modal" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">View MongoDB Document</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
{{!--                     <textarea rows='15' class="form-control">{{this}}</textarea>
 --}}                    <pre></pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div></p>
        </div>
        <div class="col-xs-4">
            <h2>Graph Lookup</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita sunt quis at similique, ipsa reprehenderit rem accusamus amet. Exercitationem ipsa laboriosam aliquam aperiam numquam doloremque voluptate quam repudiandae optio unde.</p>
            <p><a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
        <div class="col-xs-4">
            <h2>Analytics</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit facilis unde ducimus commodi laboriosam neque doloremque itaque! Officiis nostrum in, id sed laboriosam harum non. Saepe odit quidem ducimus at?</p>
            <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <footer>
                <p>&copy; Copyright 2016 MongoDB</p>
            </footer>
        </div>
    </div>
</div>