 <button data-toggle="collapse" data-target="#shipping">Shipping Information</button>
 <div class='container'>
 <div id="shipping" class="collapse">
 <p>SEPIA uses a shipping cost matrix that is based on total purchase price.  See the matrix below for specific charges.  Note: Purchase Amount does not include tax.
	<table class='table'>
		<thead>
			<tr>
				<th>Purchase Amount</th>
				<th>Shipping Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>$0-$50</td>
				<td>$12</td>
			</tr>
			<tr>
				<td>$50.01-$100</td>
				<td>$14.00</td>
			</tr>

			<tr>
				<td>$100.01-$250</td>
				<td>$18.50</td>
			</tr>
			<tr>
				<td>$250.01-$500</td>
				<td>$27.50</td>
			</tr>
			<tr>
				<td>$500.01-$750</td>
				<td>$40.00</td>
			</tr>
			<tr>
				<td>$750.01-$1000</td>
				<td>$50.00</td>
			</tr>
			<tr>
				<td>$1000.01 + </td>
				<td>$75.00</td>
			</tr>
		</tbody>
	</table>
</div>
