{{#if categories}}

<div class="row">
	<p class="lead">Categories</p>
	<ul>
	{{#each categories}}

		<li><a href='/facet/category/{{this.slug}}?q={{q}}'>{{this.name}}</a></li>

	{{/each}}

	</ul>
</div>
{{/if}}
