{{#if categories}}
	<p class="lead">Categories</p>
	<div class="list-group">
		{{#each categories}}
		<a href="/category/{{this.slug}}" class="list-group-item">{{this.name}}</a>
		{{/each}}
	</div>
{{/if}}