<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <!-- Latest compiled and minified CSS -->
        <meta name="keywords" content="{{keywords}}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        {{!--     <link rel='stylesheet' href='/stylesheets/flatly.bootstrap.min.css' />
        --}}    <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="/stylesheets/shop-homepage.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/0f323c4f82.js"></script>
        <script src="/javascripts/custom.js"></script>
    </head>
    <body>
      <!--layout fullpage.hbs-->

      <!--layouts: facet.hbs-->
    <!--

    Hi.

    This is the layout for:

      ___           ___           ___           ___           ___           ___           ___
     /\  \         /\__\         /\  \         /\  \         /\  \         /\  \         /\  \
    |::\  \       /:/ _/_       /::\  \        \:\  \       |::\  \       /::\  \       /::\  \         ___
    |:|:\  \     /:/ /\__\     /:/\:\  \        \:\  \      |:|:\  \     /:/\:\  \     /:/\:\__\       /\__\
  __|:|\:\  \   /:/ /:/ _/_   /:/ /::\  \   _____\:\  \   __|:|\:\  \   /:/ /::\  \   /:/ /:/  /      /:/  /
 /::::|_\:\__\ /:/_/:/ /\__\ /:/_/:/\:\__\ /::::::::\__\ /::::|_\:\__\ /:/_/:/\:\__\ /:/_/:/__/___   /:/__/
 \:\~~\  \/__/ \:\/:/ /:/  / \:\/:/  \/__/ \:\~~\~~\/__/ \:\~~\  \/__/ \:\/:/  \/__/ \:\/:::::/  /  /::\  \
  \:\  \        \::/_/:/  /   \::/__/       \:\  \        \:\  \        \::/__/       \::/~~/~~~~  /:/\:\  \
   \:\  \        \:\/:/  /     \:\  \        \:\  \        \:\  \        \:\  \        \:\~~\      \/__\:\  \
    \:\__\        \::/  /       \:\__\        \:\__\        \:\__\        \:\__\        \:\__\          \:\__\
     \/__/         \/__/         \/__/         \/__/         \/__/         \/__/         \/__/           \/__/

    Want to see more behind the scenes?

    Visit the repo at http://github.com/mrlynn/meanstore

    -->
        {{> nav}}
        <div class="container">
            {{{body}}}
        </div>
        {{> footer}}
        <!-- Latest compiled and minified JavaScript -->
        <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <input id="input_notify_message" value="" type="hidden">
        <input id="input_notify_message_type" value="" type="hidden">
        <div id="notify_message" type="hidden"></div>
    </body>
</html>