<div class='container'><div class="jumbotron">
    <div class="container-fluid">
        <h2>MongoDB: Building on the Best of Relational with the Innovations of NoSQL</h2>
        <p><img style='float:left;width:100px;height:100px; margin-right:10px;' src='images/meanmart-100x100.png' style='align:left'>This site was created to showcase MongoDB's capabilities in the Faceted Search, Graph Lookup and BI/Analytics spaces.  These capabilities are demonstrated through the lense of a ficticious online ecommerce company "MEANMart".  To view the online shop, click <a href="/shop" target="_blank">here</a>.
        </p><p>
        This vendor faces the same challenges most retail companies face today, striving to ensure that their products are not only available online but searchable and displayed in a manner that lets customers easily find products by many facets. </p>
        <p><a href="http://meanmart.mlynn.org" target="_blank" class="btn btn-success btn-lg">Get started</a></p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h2>Faceted Search</h2>
            <p>Additions to the aggregation framework include faceted navigation for richer search, and new expressions and optimizations to help you unlock real-time insights from data as it arrives.</p>
            <p><a href="https://www.mongodb.com/mongodb-3.4" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
        <div class="col-xs-4">
            <h2>Graph Lookup</h2>
            <p>Discover patterns &amp; uncover connections. The $graphLookup operator enables native graph processing in MongoDB so you can efficiently traverse trees, graphs, and hierarchical data without relying on a single-purpose graph database.</p>
            <p><a href="https://www.mongodb.com/mongodb-3.4" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
        <div class="col-xs-4">
            <h2>Analytics</h2>
            <p>The MongoDB Connector for BI has been upgraded to push more work to the database, allowing you to get faster insights from industry leading BI tools such as Tableau or BusinessObjects.</p>
            <p><a href="https://www.mongodb.com/mongodb-3.4" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
    </div>
</div></div>