
<div class="container signin-page">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1>Sign In</h1>
			{{#if hasErrors }}
			<div class="alert alert-danger">
				{{# each message }}
				<p>{{this}}</p>
				{{/each}}
			</div>
			{{/if}}
			<form action="/user/signin" method="POST">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="email" name="email" class="form-control">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control">
				</div>
				<input type="hidden" name="_csrf" value="{{ csrfToken }}">
				<button class="btn btn-default" type="submit">Sign In</button>
			</form>
			<p class="pull-left">Need an account? <a href="/user/signup">Sign Up</a></p>
			<p class="pull-right">Forgot? <a href="/user/forgot">Reset</a></p>
		</div>
	</div>
	<p>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="/user/facebook" class="btn btn-block btn-facebook btn-social"><i class="fa fa-facebook"></i> Sign in with Facebook</a>		
		</div>
	</div><p>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="/user/google" class="btn btn-block btn-social btn-google-plus">
	        <i class="fa fa-google-plus"></i> Sign in with Google
	      	</a>
		</div>
	</div>
</div>