body {
  padding: 0px;
  font: 14px "Proxima Nova", Helvetica, Arial, sans-serif;
}
.signin-page {
    min-height: 600px;
}
.signup-page {
    min-height: 600px;
}

a {
  color: #f09411;
}

#headermessage {
    margin: 0;
}
#headermessage.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.small-thumbnail img { 
    max-height:50px; 
    max-width:50px; 
} 
.small-thumbnail description {
    color: 7f7f7f;
}

.thumbnail img { 
	max-height:125px; 
	max-width:125px; 
} 
.thumbnail description {
	color: 7f7f7f;
}
.price {
	font-weight: bold;
	font-size: 16px;
}

html, body {
    font-size: 16px;
}

html{
    position: relative;
    min-height: 100%;
}

.page-header{
    padding-bottom: 5px;
}

.cart-contents-title{
    font-size: 18px;
    font-weight: 700;
}

.cart-row{
    padding-bottom: 10px;
}

.cart-item-row{
    margin-top: 5px;
}

.cart-link{
    padding-left: 7px;
}

.cart-delete-button{
    color: #d9534f;
    cursor: pointer;
}

.cart-update-button{
    cursor: pointer;
}

.thumbnail-image{
    cursor: pointer;
}

.product-tab-area {
    padding-top: 30px;
}

.product-admin-layout{
    padding-top: 10px;
}

.product-layout{
    padding-top: 30px;
}

.product-title-image{
    margin: auto;
    max-height: 400px;
    width: auto;
}

.thumbnail-image-container  .img-responsive {
    display: block;
    width: auto;
    max-height: 125px;
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

.thumbnail{
    min-height: 415px;
}

.vertical-center {
    display: block;
    margin: auto;
    align-items: center;
}

.title-image-container  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
    margin: auto;
}

.title-image-container{
    height: 350px;
}

.thumbnail-image-container {
    height: 110px;
}

.product-admin-title{
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 0px;
    max-height: 86px;
    min-height: 86px;
}

.product-admin-title-home{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.product-admin-title{
    font-size: 18px;
    padding-bottom: 5px;
    margin-top: 0px;
    max-height: 86px;
    min-height: 86px;
}

.product-title-home{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-price{
    padding-bottom: 10px;
    font-size: 20px;
    color: #AAAAAA;
}

.product-option{
    font-size: 20px;
}

.product-option-text{
    font-size: 16px;
    color: #AAAAAA;
}

.recommendations {
    padding-left: 5px;
    border-right: 1px solid #EEEEEE;
    background: #EEEEEE;
}
.recommendations h3 {
font-size: 19px;
font-weight: bold;

}

.productrecommendations {
    padding-left: 5px;
    border-top: 2px solid #EEEEEE;
    background: #EEEEEE;
    padding-left: 2em;
    text-indent: -2em;
}
.product_recommendations h3 {
font-size: 12px;
font-weight: bold;
}
.seporator{
    padding-top: 5px;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 6px;
}

.category-menu {
    margin-top: -7px;
    width: 35px;
}

.list-group-item {
    min-width: 150px;
}
.list-group-input-pad select{
    margin-top: -7px;
    min-width: 60px;
}

.top-pad-10{
    padding-top: 10px;
}

.top-pad-20{
    padding-top: 20px;
}

.bottom-pad-20{
    padding-bottom: 20px;
}

.paypal_button{
    padding-top: 110px;
}

.left-pad-30{
    padding-left: 30px;
}

.shipping-form input{
    margin-bottom: 15px;
}

#header {        
    height: 50px;
}

.product-area {
    min-height: 300px;
}
#frm_product_featured{
    margin-top: 15px;
}

.show_footer{
    margin-bottom: 60px;
}

.search-bar{
    margin-top: 10px;
}

.search-bar-input{
    padding-left: 15px;
    padding-right: 15px;
}

.dropup-button{
    height: 34px;
    padding: 0px;
    color: #eeeeee !important;
}

.dropdown-menu>li>a{
    padding-top: 5px !important;
    color:#f09411;
}

.pad-bottom{
    padding-bottom: 25px;
}

.keywords{
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 19px;
}

.file-form{
    padding-left: 15px;
    padding-right: 15px;
}

.editor_btn_action{
    border-top-left-radius: 4px !important; 
    border-bottom-left-radius: 4px !important;
}

.dropup-list{
    padding-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#notify_message{
    position: fixed;
    display: none;
    z-index: 9999;
    padding-top: 10px;
    height: 50px;
    bottom: 0px; 
    width: 100%; 
    text-align: center;
    font-size: 22px;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    margin-top: 35px;
    background-color: #f5f5f5;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

@media only screen and (max-width: 768px) {
    .paypal_button{
        padding-top: 10px;
    }
}

h4{
    font-weight: 600;
}
p{
    font-size: 12px;
    margin-top: 5px;
}
.price{
    font-size: 30px;
    margin: 0 auto;
    color: #333;
}
.right{
    float:right;
    border-bottom: 2px solid #4B8E4B;
}
.thumbnail{
    opacity:1.0;
    -webkit-transition: all 0.5s; 
    transition: all 0.5s;
}
.thumbnail:hover{
    opacity:4.00;
    box-shadow: 0px 0px 10px #4bc6ff;
}
.thumbnail a {
    font-size: 16px;
}
.line{
    margin-bottom: 5px;
}
@media screen and (max-width: 770px) {
    .right{
        float:left;
        width: 100%;
    }
}

@media (max-width:800px) {
    #carousel {
        display:none !important;
    }
}

#imaginary_container{
    margin-top:5%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}


.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
    display: table;
    clear: both;
}

.blog-comment{
    padding-left: 15%;
    padding-right: 15%;
}

.blog-comment ul{
    list-style-type: none;
    padding: 0;
}

.blog-comment img{
    opacity: 1;
    filter: Alpha(opacity=100);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}

.blog-comment img.avatar {
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    width: 65px;
    height: 65px;
}

.blog-comment .post-comments{
    border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
    margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
    background: #fff;
    color: #6b6e80;
    position: relative;
}

.blog-comment .meta {
    font-size: 13px;
    color: #aaaaaa;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
    list-style-type: none;
    padding: 0;
    margin-left: 85px;
}

.blog-comment-form{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 800;
}


.card{
    width: 300px;
    height: 400px;
    position: realtive;
    -webkit-perspective: 500px; /* Chrome, Safari, Opera */
     perspective: 1000px;
}
/* place one div on another  and transiiton time*/
#front, #back {
    position: absolute;
    -webkit-transition: 2s; /* Safari */
        transition: 2s;
}
#front{
    background: #1affb2;
}
/* first rotate  one div 180deg so it is facing back and also hide its back side which is facing front*/
#back{
    background: #888888;
    -ms-transform: rotateY(-180deg); /* IE 9 */
    -webkit-transform: rotateY(-180deg); /* Chrome, Safari, Opera */
        transform: rotateY(-180deg);
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}
/* now on the hover just rotate the back div so it should face front */
#cover:hover #back{
    -webkit-transform:rotateY(0deg);
    transform: rotateY(0deg);
}
#cover:hover #front{
    -webkit-transform:rotateY(180deg);
    transform: rotateY(180deg);
}
.filterHeader, h3.filterHeader {
    color: #3a3d43;
    font-size: 20px;
    font-weight: 700;
    padding-top: 4px;
    margin-top: 0;
    margin-bottom: 8px;
}
.btn-facebook {
  background-color: #3b5998;
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2); }
  .btn-facebook:focus, .btn-facebook.focus {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2); }
  .btn-facebook:hover {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2); }
  .btn-facebook:active, .btn-facebook.active,
  .open > .btn-facebook.dropdown-toggle {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2); }
    .btn-facebook:active:hover, .btn-facebook:active:focus, .btn-facebook:active.focus, .btn-facebook.active:hover, .btn-facebook.active:focus, .btn-facebook.active.focus,
    .open > .btn-facebook.dropdown-toggle:hover,
    .open > .btn-facebook.dropdown-toggle:focus,
    .open > .btn-facebook.dropdown-toggle.focus {
      color: #fff;
      background-color: #23345a;
      border-color: rgba(0, 0, 0, 0.2); }
  .btn-facebook:active, .btn-facebook.active,
  .open > .btn-facebook.dropdown-toggle {
    background-image: none; }
  .btn-facebook.disabled:hover, .btn-facebook.disabled:focus, .btn-facebook.disabled.focus, .btn-facebook[disabled]:hover, .btn-facebook[disabled]:focus, .btn-facebook[disabled].focus,
  fieldset[disabled] .btn-facebook:hover,
  fieldset[disabled] .btn-facebook:focus,
  fieldset[disabled] .btn-facebook.focus {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2); }
  .btn-facebook .badge {
    color: #3b5998;
    background-color: #fff; }
.btn-twitter{color:#fff;background-color:#2ba9e1;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{color:#fff;background-color:#1c92c7;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#2ba9e1;border-color:rgba(0,0,0,0.2)}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
