<div class="row">
	<div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
		<h1>Checkout</h1>
		<h3>Your Total: ${{total}}</h3>
		<form action="/checkout" method="post" id="checkout-form">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" id="name" class="form-control" required>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="address">Address</label>
						<input type="text" id="address" class="form-control" required>
					</div>
				</div>
				<hr>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="city">City</label>
						<input type="text" id="city" class="form-control" required>
						<label for="state">State</label>
						<input type="text" id="state" class="form-control" required>
						<label for="zipcode">Zip Code</label>
						<input type="text" id="zipcode" class="form-control" required>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>