{{# each products }}
	<div class="row">
		{{# each this }}
		  	<div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      	<img class="img-responsive" src="{{ this.imagePath }}" alt="...">
			        <div class="caption">
				        <h3>{{ this.title }}</h3>
				        <p class="description">{{ this.description }}</p>

				        <div class="clearfix">
					        <div class="price pull-left">{{ this.price }}</div>
					        <a href="#" class="btn btn-primary pull-right" role="button">Add to Cart</a>
					    </div>
	      			</div>
	    		</div>
  			</div>
  		{{/each}}
	</div>
{{/each}}