<div class="product-layout col-md-8 col-md-offset-2">
    <div class="col-md-6">
        <div class="vertical-center title-image-container">
            <img src="" id="product-title-image" class="product-title-image img-responsive" alt="...">
        </div>
        <div class="vertical-center thumbnail-image-container top-pad-20 col-xs-6 col-md-3">
            <img src="/uploads/YJRev3KhUzOFV5AI/IMAC.jpeg" class="thumbnail-image img-responsive">
        </div>
        <div class="vertical-center thumbnail-image-container top-pad-20 col-xs-6 col-md-3">
            <img src="/uploads/YJRev3KhUzOFV5AI/imac-gallery5-2015.jpeg" class="thumbnail-image img-responsive">
        </div>
    </div>
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive" src="{{product.image-large}}" alt="">
            <div class="caption-full">
                <h4 class="pull-right">${{product.price}}</h4>
                <h4><a href="#">Product Name</a>
                </h4>
                <p>{{product.title}}</p>
                <p>{{product.description}}</p>
            </div>
        </div>
        <p>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block product-add-to-cart" type="button">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="product_id" value="YJRev3KhUzOFV5AI">