   <div class="product-layout col-md-8 col-md-offset-2">
        <div class="col-md-6">  
                <div class="vertical-center title-image-container">
                    <img src="/uploads/YJRev3KhUzOFV5AI/imac-gallery5-2015.jpeg" id="product-title-image" class="product-title-image img-responsive" alt="...">
                </div>  
                    <div class="vertical-center thumbnail-image-container top-pad-20 col-xs-6 col-md-3">
                        <img src="/uploads/YJRev3KhUzOFV5AI/IMAC.jpeg" class="thumbnail-image img-responsive">
                    </div>
                    <div class="vertical-center thumbnail-image-container top-pad-20 col-xs-6 col-md-3">
                        <img src="/uploads/YJRev3KhUzOFV5AI/imac-gallery5-2015.jpeg" class="thumbnail-image img-responsive">
                    </div>
        </div>
        <div class="col-md-6">
            <h1 class="product-title">{{product.title}}</h1>
            <h4 class="product-price">{{product.price}}</h4>
            <h4 class="product-option">{{product.options}}</h4>
            <p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="product-option-text">Quantity</p>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn qty-btn-minus" type="button">-</button>
                            </span>
                            <input type="text" class="form-control add-color text-center" id="product_quantity" maxlength="3" value="1">
                            <span class="input-group-btn">
                                <button class="btn qty-btn-plus" type="button">+</button>
                            </span>
                        </div>
                    </div>
                </div>
            </p>
            <p>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-block product-add-to-cart" type="button">Add to cart</button>
                    </div>
                </div>
            </p>
            <p class="seporator"></p>
            <p class="body_text">
                <h3>An iMac computer bitches!</h3>

            </p>
        </div>
    </div>  
</div>
<input type="hidden" id="product_id" value="YJRev3KhUzOFV5AI">