<div class='col-md-12'>
	<div class='row'>
		<h2>Why Paypal?</h2>
		<p>SEPIA uses paypal to process all payments.  Paypal is a superior, secure payment processor that offers the ability to pay with your own Paypal account or to use credit cards if you wish.</p>
		<p>If you have questions - or would like to inquire about alternative methods of payments, please contact the SEPIA office at (215) 923-7900 or send an email to <a href=mailto:manager@sepennaa.org>the Office Manager at SEPIA</a>.
	</div>
</div>