	<!-- Slider-Section-Strat  -->
	<div class="slider_area">
		<div class="fullwidthbanner">
			<ul>
				<!-- SLIDE-1  -->
				<li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
					<!-- MAIN IMAGE -->
					<img src="images/slider/slider_bg-2.jpg"  alt="mainbanner-31"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption banner1 tp-fade tp-resizeme"
						data-x="910"
						data-y="20" 
						data-speed="300"
						data-start="500"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						data-end="8700"
						data-endspeed="300"
						style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;"><img src="images/slider/slide-2.png" alt="">
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption banner12 tp-fade tp-resizeme"
						 data-x="385"
						 data-y="145" 
						data-speed="300"
						data-start="800"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 7;font-size:72px; font-family:nexa_blackregular;font-weight:700;color:#3a4b60;max-width: auto; max-height: auto; white-space: nowrap;">ELIXIR T-08
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption banner13 tp-fade tp-resizeme"
						data-x="385"
						data-y="190" 
						data-speed="300"
						data-start="1100"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;font-size:24px;line-height:26px;font-family:Roboto;font-weight:100; color:#ffffff;letter-spacing:8px;">FEELING YOUR IMAGINTION
					</div>
					
					<!-- LAYER NR. 4.1 -->
					<div class="tp-caption banner21 tp-fade tp-resizeme"
						data-x="385"
						data-y="273"  
						data-speed="300"
						data-start="800"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;font-size:20px;line-height:2;font-family:nexa_bookregular;color:#ffffff;">
						100% COMBED COTTON
					</div>
					
					<!-- LAYER NR. 4.2 -->
					<div class="tp-caption banner21 tp-fade tp-resizeme"
						data-x="385"
						data-y="309"
						data-speed="300"
						data-start="1000"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"

						style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;font-size:20px;line-height:2;font-family:nexa_bookregular;color:#ffffff;">
						COLOR: BLUE
					</div>
					
					<!-- LAYER NR. 4.3 -->
					<div class="tp-caption banner21 tp-fade tp-resizeme"
						data-x="385"
						data-y="345" 
						data-speed="300"
						data-start="1100"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;font-size:20px;line-height:2;font-family:nexa_bookregular;color:#ffffff;">
						ROUND NECK & HALF SLEEVES
					</div>
					
					<!-- LAYER NR. 4.4 -->
					<div class="tp-caption banner21 tp-fade tp-resizeme"
						data-x="385"
						data-y="381" 
						data-speed="300"
						data-start="1100"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"

						style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;font-size:20px;line-height:2;font-family:nexa_bookregular;color:#ffffff;">
						CLASSIC FIT, SLIGHTLY LONG
					</div>

					<!-- LAYER NR. 4.5 -->
					<div class="tp-caption banner22 tp-fade tp-resizeme"
						data-x="385"
						data-y="418" 
						data-speed="300"
						data-start="1400"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;font-size:20px;line-height:2;font-family:nexa_bookregular;color:#ffffff;">
						GSM: 160
					</div>
					
					<!-- LAYER NR. 4.6 -->
					<div class="tp-caption banner23 tp-fade tp-resizeme"
						data-x="385"
						data-y="450" 
						data-speed="300"
						data-start="1700"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;font-size:20px;line-height:2;font-family:nexa_bookregular;color:#ffffff;">PRICE: $ 29.99
					</div>
						
					<!-- LAYER NR. 4.7 -->
					<div class="tp-caption banner2 tp-fade tp-resizeme"
						data-x="385"
						data-y="530" 
						data-speed="300"
						data-start="1800"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						>
						<a class="slide_btn" href="#" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;font-size:16px; color:#fff;border: 2px solid #ffffff;line-height:2;padding: 10px 30px;">SHOP NOW</a>
					</div>
				</li>
				<!-- SLIDE-2 -->
				<li data-transition="random" data-slotamount="7" data-masterspeed="300" data-title="Slide2" data-saveperformance="off" >
					<!-- MAIN IMAGE -->
					<img src="images/slider/slider_bg-1.jpg"  alt="mainbanner-21"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-fade"
						data-x="910"
						data-y="20" 
						data-speed="300"
						data-start="800"
						data-easing="Power3.easeInOut"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 3;"><img src="images/slider/slide-1.png" alt="">
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption banner12 tp-fade tp-resizeme"
						 data-x="385"
						 data-y="145" 
						data-speed="300"
						data-start="800"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 7;font-size:72px; font-family:nexa_blackregular;font-weight:700;color:#3a4b60;max-width: auto; max-height: auto; white-space: nowrap;">ELIXIR T-08
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption banner13 tp-fade tp-resizeme"
						data-x="385"
						data-y="190" 
						data-speed="300"
						data-start="1100"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;font-size:24px;line-height:26px;font-family:Roboto;font-weight:100; color:#ffffff;letter-spacing:8px;">FEELING YOUR IMAGINTION
					</div>
					
					<!-- LAYER NR. 4.1 -->
					<div class="tp-caption banner21 tp-fade tp-resizeme"
						data-x="385"
						data-y="273"  
						data-speed="300"
						data-start="800"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;font-size:20px;line-height:2;font-family:nexa_bookregular;color:#ffffff;">
						100% COMBED COTTON
					</div>
					
					<!-- LAYER NR. 4.2 -->
					<div class="tp-caption banner21 tp-fade tp-resizeme"
						data-x="385"
						data-y="309"
						data-speed="300"
						data-start="1000"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;font-size:20px;line-height:2;font-family:nexa_bookregular;color:#ffffff;">
						COLOR: GRAY BLACK
					</div>
					
					<!-- LAYER NR. 4.3 -->
					<div class="tp-caption banner21 tp-fade tp-resizeme"
						data-x="385"
						data-y="345" 
						data-speed="300"
						data-start="1100"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;font-size:20px;line-height:2;font-family:nexa_bookregular;color:#ffffff;">
						ROUND NECK & HALF SLEEVES
					</div>
					
					<!-- LAYER NR. 4.4 -->
					<div class="tp-caption banner21 tp-fade tp-resizeme"
						data-x="385"
						data-y="381" 
						data-speed="300"
						data-start="1100"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;font-size:20px;line-height:2;font-family:nexa_bookregular;color:#ffffff;">
						CLASSIC FIT, SLIGHTLY LONG
					</div>

					<!-- LAYER NR. 4.5 -->
					<div class="tp-caption banner22 tp-fade tp-resizeme"
						data-x="385"
						data-y="418" 
						data-speed="300"
						data-start="1400"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;font-size:20px;line-height:2;font-family:nexa_bookregular;color:#ffffff;">
						GSM: 180
					</div>
					
					<!-- LAYER NR. 4.6 -->
					<div class="tp-caption banner23 tp-fade tp-resizeme"
						data-x="385"
						data-y="450" 
						data-speed="300"
						data-start="1700"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;font-size:20px;line-height:2;font-family:nexa_bookregular;color:#ffffff;">PRICE: $ 35.99
					</div>
					
					<!-- LAYER NR. 4.7 -->
					<div class="tp-caption banner2 tp-fade tp-resizeme"
						data-x="385"
						data-y="530" 
						data-speed="1800"
						data-start="500"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0"
						data-endelementdelay="0"
						 data-end="8700"
						data-endspeed="300"
						>
						<a class="slide_btn" href="#" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;font-size:16px; color:#fff;border: 2px solid #ffffff;line-height:2;padding: 10px 30px;">SHOP NOW</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
