<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6 ">
						<div class="contactinfo">
							<ul class="nav nav-pills">
{{!-- 								<li><a href=""><i class="fa fa-phone"></i>(215) 123-4567</a></li>
 --}}								<li><a href=""><i class="fa fa-envelope"></i>mongodbsa@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="http://facebook.com/mrlynn"><i class="fa fa-facebook"></i></a></li>
								<li><a href="http://twitter.com/mlynn"><i class="fa fa-twitter"></i></a></li>
								<li><a href="http://linkedin.com/mlynn"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->

		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="images/logo.png" alt="" /></a>
						</div>
						{{!-- <div class="btn-group pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									USA
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="">Canada</a></li>
									<li><a href="">UK</a></li>
								</ul>
							</div>

							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									DOLLAR
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="">Canadian Dollar</a></li>
									<li><a href="">Pound</a></li>
								</ul>
							</div>
						</div> --}}
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								{{#if login}}
								<li><a href="/user/profile"><i class="fa fa-user"></i> Account</a></li>
								{{/if}}
								<li><a href="/shopping-cart"><i class="fa fa-shopping-cart"></i> Cart</i>
					            {{#if session.cart.totalQty }}
					            	<span class="badge btn-success">{{ session.cart.totalQty }}</span>
					        	{{/if}}</a></li>
								{{#if login}}
									<li><a href="/user/logout"><i class="fa fa-lock"></i> Logout</a></li>
								{{else}}
									<li><a href="/user/signin"><i class="fa fa-lock"></i> Login</a></li>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/">Home</a></li>
								<li class="dropdown"><a href="#" class="active">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/" class="active">Products</a></li>
										<li><a href="/shopping-cart">Cart</a></li> 
										{{#if login}}
											<li><a href="/user/logout">Logout</a></li> 
										{{else}}
											<li><a href="/user/signin">Login</a></li> 
										{{/if}}
                                    </ul>
                                </li> 
								<li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/overview">Overview of MEANMart</a></li>
                                    </ul>
                                </li> 
								<li><a href="contact-us.html">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="search_box pull-right">
{{!-- 							<input type="text" placeholder="Search"/>
 --}}						
						<form action='/search' method="post">
		                <div class="input-group stylish-input-group">
		                    <input type="text" class="form-control input-xxlg" placeholder="Search" value="{{q}}" name="q">
		                    {{!-- <span class="input-group-addon">
		                        <button type="submit">
		                        <span class="glyphicon glyphicon-search"></span>
		                        </button>
		                    </span> --}}
		                </div>
		                <br>
		            </form>
		            </div>
					</div>
				</div>
				</div>
			</div>
	</header>