<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>ROUND-UP</span>2017</h1>
									<h2>Food, Fun, Fellowship</h2>
									<p>All in one place. </p>
									<a href="http://github.com/mrlynn/meanstore" class="btn btn-default get" role="button">Get it now</a>
								</div>
								<div class="col-sm-6">
									<img src="/images/slider1.png" class="girl img-responsive" alt="" />
									{{!--<img src="/images/pricing.png"  class="pricing" alt="" />--}}
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>ROUND-UP</span>2017</h1>
									<h2>Food, Fun, Fellowship</h2>
									<p>All in one place. </p>
									<a href="http://github.com/mrlynn/meanstore" class="btn btn-default get" role="button">Get it now</a>
								</div>
								<div class="col-sm-6">
									<img src="/images/slider2.jpg" class="girl img-responsive" alt="" />
									{{!--<img src="/images/pricing.png"  class="pricing" alt="" />--}}
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>ROUND-UP</span>2017</h1>
									<h2>Food, Fun, Fellowship</h2>
									<p>All in one place. </p>
									<a href="http://github.com/mrlynn/meanstore" class="btn btn-default get" role="button">Get it now</a>
								</div>
								<div class="col-sm-6">
									<img src="/images/slider3.png" class="girl img-responsive" alt="" />
									{{!--<img src="/images/pricing.png" class="pricing" alt="" />--}}
								</div>
							</div>

						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->